# CockroachDB / PostgreSQL Connection String
DATABASE_URL=postgresql://mr_coder_04:FiqKgetgt506_v6KaXKW5A@sofo-changeges-32312.j77.aws-ap-south-1.cockroachlabs.cloud:26257/Sofo-change-hub?sslmode=verify-full

# Node Environment
NODE_ENV=production
