# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://pjsofonic_db_user:MrCoder04%5D@sofo-change-hub.shztxpa.mongodb.net/sofo-change-hub?retryWrites=true&w=majority

# Node Environment
NODE_ENV=production
